/* start - base css */

.color999 {color: #999;}

.right {float: right;}

.left {float: left;}

.tal{text-align: left}

.lh20{ line-height:20px;}

.ml14{ margin-left:14px;}

/* end - base css */



/* start - bootstrap css */

a:hover{ cursor:pointer;}

.btn-inline{display:inline;}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border:none;border-bottom: 1px solid #ddd;}

/* end - bootstrap css */