<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="staticUrl" value="lib"/>
    <add key="staticVersion" value="v=20160329"/>
  </appSettings>

  <connectionStrings>
    <add name="mssqlConnection" connectionString="server=.;Initial Catalog=travelist;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true">
    </compilation>
    <authentication mode="Windows"/>
  </system.web>

</configuration>